{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="text-center fs-2 bg-light">About <b class="txt-mycolor">Us </b> <i class="fa-solid fa-circle-info"></i></div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6 py-5 px-5 ">
                <p>
Education Learning is an apt platform for professionals and students to take courses to improve their job-related skills. We aim to help you to master different aspired fields such as Digital marketing, Web development, Web designing, and much more. Apart from Training, we also help our students to get placed in reputed MNCs, who completed all the modules successfully and even placed no. of professionals in their respective fields boost their career. Our Training headquarter is located in the center of the IT hub and is founded by Mr.Ankit Kr Upadhyay.<br/>
                <br/>
We started our horizons classes as virtual and offline and covered more than 24 cities all over India.
             Education Learning is a professional digital marketing training provider in Chandigarh with a highly skillful and expert team of digital marketing professionals, which will get you industry-ready by providing 100% practical job-oriented advance digital marketing training with Live Projects. Our trained faculty will help you implement digital marketing strategies from basic to advanced levels and make you a Master in Digital Marketing. We include Training for different web technologies such as HTML5 and CSS3 technology, PHP, Javascript, React, Flutter, and more training modules undertaken by our knowledgeable website developers.
            </p>
            </div>
            <div class="col-sm-6">
                 <!--start card-->
        <div class="card text-bg-dark mx-5 my-5">
  <img src="{% static 'images/s.jpg' %}" style="min-height:400px;" class="card-img" alt="...">
  <div class="card-img-overlay">
  </div>
</div>
        <!--end card-->
            </div>
        </div>
    </div>
</div>
<div class="row bg-light">
    <div class="col-sm-12">
        <div class="row align-items-center">
            <div class="col-md-6">
                 <!--start card-->
        <div class="card text-bg-dark mx-5 my-5">
  <img src="{% static 'images/our.jpg' %}" style="min-height:300px;" class="card-img" alt="...">
  <div class="card-img-overlay">
  </div>
</div>
        <!--end card-->
            </div>
            <div class="col-md-6 px-2 py-2">
              <h2> <b>OUR MISSION</b></h2>
                <p>
                Our mission is to provide opportunities to advance your professional journey through<br/>
                our available job-oriented courses that offer individualized support, developed in<br/>
                collaboration with best-in-class faculty and industry professionals. Reserve your spot<br/>
                for upcoming intakes by applying today!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-6 px-5 py-5">
                <h2><b>OUR VISION</b></h2>
                <p>
                  <i class="fa-solid fa-arrow-right"></i>  We promise to deliver best-in-class training to our aspirants.
                    <br/>
                    <br/>
                    <i class="fa-solid fa-arrow-right"></i> Make the most of our students talent and potential;
                    <br/>
                    <br/>
                   <i class="fa-solid fa-arrow-right"></i>  Enlighten, teach, and inspire people to reach their professional goals;
                    <br/>
                    <br/>
                   <i class="fa-solid fa-arrow-right"></i>  Create the right work environment that supports them to achieve their goals
                    <br/>
                    <br/>
                   <i class="fa-solid fa-arrow-right"></i>  Help our candidates to achieve their goals faster and easier, with less stress and
                                                           more enjoyment.
                </p>
            </div>
             <div class="col-md-6">
                 <!--start card-->
        <div class="card text-bg-dark mx-5 my-5">
  <img src="{% static 'images/vis.jpg' %}" style="min-height:300px;" class="card-img" alt="...">
  <div class="card-img-overlay">
  </div>
</div>
        <!--end card-->
            </div>
        </div>
    </div>
</div>
{% endblock %}