{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="container-fluid" style="background:#deedec;">
<div class="row text-center">
    <div class="col-md-12 mt-3">
        <h2><b>OUR COURSES</b> <i class="fa-solid fa-book"></i></h2>
        <p class="w-75 mx-auto">
                    We offer 3/6 months of industrial training based on Live Projects. We offer various industrial training courses under three months and six months of training
                </p>
    </div>
</div>
    <div class="row mt-5 mx-auto">
        <div class="col-md-3 sm-6">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/dig.jpg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>DIGITAL MARKETING</b></h5>
    <p class="card-text">Our digital marketing course helps to learn things that you never know about digital marketing.</p>
    <a href="/user/digital/" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
        <div class="col-md-3 sm-6">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/p22 (4).jpeg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>PHP</b></h5>
    <p class="card-text">We provide complete practical skills and php tutorials on the latest tools and frameworks like Django..</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
        <div class="col-md-3 sm-6">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/Android.jpeg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>ANDROID</b></h5>
    <p class="card-text">Our six months Android certification course includes essential to advanced level and our six months..</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
        <div class="col-md-3 sm-6">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/p22 (2).jpeg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>IOS</b></h5>
    <p class="card-text">Our digital marketing course helps to learn things that you never know about digital marketing.</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
        <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/p22 (1).jpg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>JAVA</b></h5>
    <p class="card-text">Our Java training classes are conducted by professionals and subject specialists having...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
        <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/p22 (1).jpeg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>PYTHON</b></h5>
    <p class="card-text">We offer high-quality python training in Mohali according to industry norms. You can learn up..</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
        <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/p22 (5).jpeg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>NODE.JS</b></h5>
    <p class="card-text">Learning Node. JS is the best way to enter into the backend web development or enhance your..</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
        <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/p22 (4).jpg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>REACT JS</b></h5>
    <p class="card-text">ReactJS is a JavaScript library used to build reusable UI components. It encourages the ...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
         <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2 mb-5" style="width: 18rem;">
  <img src="{% static 'images/p22 (3).jpg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>FLUTTER</b></h5>
    <p class="card-text">Learn this course from top-rated instructors. It is the new Cross-platform Mobile Development..</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
         <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/p22 (2).jpg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>GRAPHIC DESIGNING</b></h5>
    <p class="card-text">Get a graphic designing from our reputed training institute, so that student can get the ..</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
         <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/JAA.jpg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>JAVASCRIPT</b></h5>
    <p class="card-text">JavaScript (js) is a light-weight object-oriented programming language which is used by...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
         <div class="col-md-3 sm-6 mt-5">
            <!--start card-->
    <div class="card p-2" style="width: 18rem;">
  <img src="{% static 'images/JQQ.jpg' %}" style="min-height:200px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><b>JQUERY</b></h5>
    <p class="card-text">jQuery is a fast, small, and feature-rich JavaScript library.It makes things like HTML  ...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    <!--end card-->
        </div>
    </div>
    </div>
{% endblock %}