{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="text-center fs-2">Success<b class="txt-mycolor">  Stories </b>
<i class="fa-solid fa-graduation-cap"></i>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-5">
                College
                <select class="form-control">
                    <option>--Select College--</option>
                    {% for i in cdata %}
                    <option>{{i.college_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                Training Session
                <select class="form-control" name="year">
                    <option>--Select Year--</option>
                    {% for x in sdata %}
                    <option>{{x.session}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Search" class="btn form-control bg-mycolor"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row py-3 my-3" style="background:#deedec;">
            <!--card -->
            {% for a in pdata %}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="/{{a.student_picture}}" style="height:300px" class="card-img-top"/>
                    <div class="card-body">
                        <p class="card-text">
                            <b>{{a.student_name}}</b><br/>
                            <small>{{a.batch}} || {{a.session}}</small><br/>
                            {{a.company_name}}<br/><img src="/{{a.company_logo}}" class="img-thumbnail" style="height:50px width:40px"/>
                            <br/>
                            {{a.college}}
                        </p>
                    </div>
                </div>
            </div>
            <!-- end card -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
</html>